@import url("https://fonts.googleapis.com/css2?family=Saira:wght@200&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Saira", sans-serif;
  font-weight: 200;
}

body {
  background-color: #030917;
  background-image: url(../img/BackgroundItens.png);
  background-size: cover;
  background-repeat: no-repeat;
  header {
    display: flex;
    flex-direction: column;
    color: white;

    align-items: center;
    svg {
      margin-top: 16px;
    }
    h2 {
      font-size: 44px;
      text-transform: uppercase;
    }
    h1 {
      font-size: 32px;
    }
  }
}

main {
  display: flex;
  margin: 20px auto;
  background-color: rgba($color: #000000, $alpha: 0.2);
  max-width: 400px;
  height: 400px;
  border-radius: 15px;

  border: 2px solid #00a2ff;
  box-shadow: 1px 1px 10px #00a2ff;
  overflow: hidden;
  justify-content: center;
  ul {
    list-style: none;
    color: white;
    overflow-y: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    li {
      position: relative;
      display: flex;
      align-items: center;
      font-size: 20px;
      margin: 5px auto;
      button {
        margin-left: 20px;
        width: 50px;
        text-align: center;
        border: none;
        height: 80%;
        border-radius: 5px;
        color: white;
        background-color: rgba($color: #da4141, $alpha: 1);
        box-shadow: 0px 0px 5px #da4141;
      }
    }
  }

  ul::-webkit-scrollbar {
    background-color: #030917;
    width: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  ul::-webkit-scrollbar-thumb {
    background-color: #c2f1f1;
    width: 5px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  input {
    width: 80%;
    height: 5%;
  }

  button {
    width: 20%;
    height: 5%;
  }
}
footer {
  display: flex;
  margin: 20px auto;
  max-width: 400px;
  align-items: center;
  justify-content: space-around;
  input {
    width: 60%;
    height: 5%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: #e0e0e0;
  }
  button {
    width: 20%;
    height: 5%;
    cursor: pointer;
    background-color: rgba($color: #00a2ff, $alpha: 1);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 12px;
  }
}

input:focus {
  background-color: #ffffff;
}

#btnAdd:hover {
  background-color: #0066ff;
  transition: 0.6s ease;
}

#btnDel:hover {
  background-color: #ad1414;
  transition: 0.6s ease;
  cursor: pointer;
}
